/* VARIAVEISSS */
:root {
    --bs-primary-rgb: 139, 92, 246; /* #8b5cf6 */
}


/* LOGO */
.logo {
    max-width: 30px;
    margin-right: 10px;
}

/* HOVER NOS CARDS */
.transition-hover {
    transition: transform 0.3s ease;
}
.transition-hover:hover {
    transform: translateY(-8px);
}

/* BOTÕES PERSONALIZADOS (cores) */
.btn-outline-primary {
    border-color: #8b5cf6 !important;
    color: #8b5cf6 !important;
}
.btn-outline-primary:hover {
    background-color: #8b5cf6 !important;
    color: white !important;
}

.btn-primary {
    background-color: #8b5cf6 !important;
}
.btn-primary:hover {
    background-color: #7c3aed !important;
}

/* QUIZ CARD */
.quiz-container {
  border-radius: 20px;
}

/* COR DOS TÍTULOS (mantendo o roxo do site) */
body h1, 
body h2, 
body h3, 
body h4, 
body h5, 
body h6,
.section-title,
.quiz-header h1 {
    color: #8b5cf6 !important;
}


/* PARÁGRAFOS E TEXTO */
p, label, span, .descricao, .card-text {
    color: #555; /* texto cinza escuro */
}
